site_name: skiba
site_description: A python package for a class
site_author: taraskiba
site_url: https://taraskiba.github.io/skiba
repo_url: https://github.com/taraskiba/skiba

copyright: "Copyright &copy; 2024 - 2024 Tara Skiba"

theme:
    palette:
        - scheme: default
          #   primary: blue
          #   accent: indigo
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
    name: material
    icon:
        repo: fontawesome/brands/github
    # logo: assets/logo.png
    # favicon: assets/favicon.png
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.top
        - search.highlight
        - search.share
    custom_dir: "docs/overrides"
    font:
        text: Google Sans
        code: Regular

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - git-revision-date-localized:
          enable_creation_date: true
          type: timeago
    # - pdf-export
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True
          execute: True
          allow_errors: false
          ignore: ["conf.py"]
          execute_ignore: ["*ignore.ipynb", "data_process_demo.ipynb", "data_process.py", "data_process.md"]

markdown_extensions:
    - admonition
    - abbr
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X

nav:
    - Home: index.md
    - Installation: installation.md
    - Usage: usage.md
    - Contributing: contributing.md
    - FAQ: faq.md
    - Changelog: changelog.md
    - Report Issues: https://github.com/taraskiba/skiba/issues
    - Examples:
        - examples/intro.ipynb
        - examples/map.ipynb
        - examples/folium_demo.ipynb
        - examples/ipyleaflet_demo.ipynb
        - examples/map_demo.ipynb
        - examples/map_detail.ipynb
        - examples/data_process_demo.ipynb
    - API Reference:
          - skiba module: skiba.md
          - common module: common.md
          - folium: foliumcode.md
          - ipyleaflet: ipyleafletcode.md
          - map: map_detail.md
          - data_process: data_process.md
